
// 全局样式
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #f0f2f5;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
a {
    text-decoration-line: none;
}
p{
    margin: 0;
}
.App {
}
.active {
    background: #434e64;
}
.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.content-main {
    width: 70vw;
    margin: 50px 0;
    background: #fff;
}
.content-text{
    padding: 0 50px;
}
.content-page{
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
}
.content-usr{
    padding: 0 50px;
    border-bottom: 1px solid 
}
.content-usr-header{
    height: 50px;
}

.addBlog{
    width: 70vw;
    height: 60vh;
    margin-top: 50px ;

}

// 引入
//header 
@import './components/header.scss';

//header-content
@import './components/content-header.scss';


