
// 全局样式
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #f0f2f5;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
a {
    text-decoration-line: none;
}
p{
    margin: 0;
}
.App {
}
.active {
    background: #434e64;
}
.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.content-main {
    width: 70vw;
    margin: 50px 0;
    background: #fff;
}
.content-text{
    padding: 0 50px;
}
.content-page{
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
}

// 引入
//header 
@import './components/header.scss';

//header-content
@import './components/content-header.scss';



// .header {
//     width: 100vw;
//     height: 60px;
//     background: #515a6e;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// .header-botton {
//     width: 70vw;
//     height: 60px;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }

// .header-left {
//     display: flex;
//     justify-content: flex-start;
//     align-items: center;
// }

// .header-right {
//     display: flex;
//     justify-content: flex-end;
//     align-items: center
// }

// .header-icon {
//     color: #fff;
//     font-size: 20px;
//     font-weight: 700;
//     line-height: 60px;
// }

// .header-tab {
//     display: flex;
//     justify-content: flex-start;
//     align-items: center;
//     margin-left: 100px;
// }

// .header-user {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// .header-tab-item {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 60px;
//     padding: 0 20px;
// }

// .header-tab-text {
//     padding-left: 5px;
//     font-size: 15px;
//     color: #fff;
// }

// .header-user-text {
//     font-size: 18;
//     font-weight: 700;
//     color: #fff;
//     margin-left: 8px;
// }




// .App-content {
//     width: 100vw;
//     display: flex;
//     justify-content: center;
//     align-items: flex-start;
// }

// .content-main {
//     width: 70vw;
//     height: 400px;
//     margin-top: 50px;
//     background: #fff;
// }

// .header-user-circle {
//     width: 35px;
//     height: 35px;
//     border-radius: 17.5px;
//     background: rgb(114, 101, 230);
//     display: flex;
//     justify-content: center;
//     align-items: center
// }

// a {
//     text-decoration-line: none;
// }

